@model CRM.DAL.SysAnnouncement

@{
    Layout = "~/Views/Shared/Create.cshtml";
}
@using Common
@using Models
 
@section CurentPlace {
 
      创建  
 
 }
@section CurentPlaceJS {
  var oEditor = CKEDITOR.instances.Message.getData();
    if(oEditor==null||oEditor=='')
    {
        alert('内容不能为空');
        return false;
    }
    $("#Message").val(oEditor);           

}
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="创建" />
            <input class="a2 f2" type="button" onclick="BackList('SysAnnouncement')" value="返回" />
        </legend>
        <div class="bigdiv">
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.State)：
            </div>
            <div class="editor-field">
                @Html.RadioButtonListFor(model => model.State, Models.SysFieldModels.GetSysField("SysPerson", "State"), true)

            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Message)：
            </div>
            <div class="editor-ckeditor">

                <textarea id="Message" rows="10" name="Message" class="ckeditor"></textarea>

            </div> 
             
        </div>
    </fieldset>
 

    
    <script type="text/javascript">

        $(function () {
            

        });
              

    </script>


